{% extends "base.html" %}

{% block javascripttop %}
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/buddy_vis.js"></script>
{% endblock %}

{% block css %}
	<link href="../static/css/choose_activities.css" rel="stylesheet">
	<link href="../static/css/buddy_vis.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/css/tooltipster.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/themes/tooltipster-noir.css" />
{% endblock %}

{% block body %}
	<div class='container' id='activity-container'>	
		<div class="row">
			<div class="col-md-8">
				<h3 class='welcome'>Welcome, {{ athlete_name }}!</h3>
				<p class="lead">
					<span id="choose-emph">
					Choose which of your recent activities you would like to find buddies for.
					</span><br>
					Results improve with multiple selections.
				</p>
				<div id="error" class="col-md-5" style="display:none;"></div>
			</div>
			<div class="col-md-2 pull-down">
			<form class="form-inline pull-right" action="{{ from_url }}" method="POST">
				<div class="form-group">
					<input type="hidden" name="athlete_id" value="{{ athlete_id }}"></input>
					<select class="form-control" name="n_activities" id="n-activities">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="40">40</option>
						<option value="50">50</option>
						<option value="60">60</option>
					</select>
					<button class="btn" style="background-color: #f74f00; color: white;">
	  					# activities
	  				</button>
				</div>
			</form>
			</div>
		</div>
		<br>
		<div class="row">
		  <div class="col-md-10">
			<table class='table table-hover table-condensed'>
			    <thead><tr>
			        <th width='7%'  class="th-activity">Date</th>
			        <th width='58%' class="th-activity">Activity Name</th>
			        <th width='10%' class="th-activity">Type</th>
			        <th width='10%' class="th-activity">Distance</th>
			        <th width='15%' class="th-activity">Elevation gain</th>
			    </tr></thead>
			    <tbody>
			    	{% for activity in activities %}
			    	<tr class='clickableRow' id='{{ activity["id"] }}' data-polyline='{{ activity["polyline"] }}'>
			    		<td>{{ activity["date"] }}</td>
			    		<td style="color:black;"><strong>{{ activity["name"] }}</strong></td>
			    		<td class="{{ activity["type"] }}">{{ activity["type"] }}</td>
			    		<td>{{ activity["distance"] }}</td>
			    		<td>{{ activity["elevation"] }}</td>
			    	</tr>
	  				{% endfor %}
			    </tbody>    
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10">
			<button class='btn' id='find-buddy-button' style="background-color: #f74f00; color: white;">
				Find buddies
			</button>
		  </div>
	  	</div>
	</div>
	<div class="container" id="vis">
		<div id="loading">
			<div class="row">
				<div class="col-md-3">
					<h5 class="loading">[ Finding buddies... ]</h5>	
					<div class="progress">
	  					<div class="progress-bar progress-bar-striped active" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
	  				</div>
	  			</div>
  			</div>
	  	</div>
	  	<div id="post-buddy-options" > 
	  		<div class="row">
		  		<div class="col-md-2 pull-left">
				  	<form action="{{ from_url }}" method="POST">
				  		<input type="hidden" name="athlete_id" value="{{ athlete_id }}"></input>
				  		<input type="hidden" name="n_activities" value="{{ n_activities }}"></input>
				  		<button class="btn btn-default" style="background-color: #f74f00; color: white;">
				  			Select different routes
				  		</button>
				  	</form>
		  		</div>
		  		<div class="col-md-2 pull-left">
		  			<button class="btn btn-primary" id="stats-btn">Buddy stats</button>
		  		</div>
		  	</div>

	  		<div id="stats-popup">
	  			<span class="button b-close"><span>X</span></span>		  			
	  			<div id="stats" class="col-md-12 pull-left">
	  				<h3 class="stats-header">Buddy metrics summary</h3>
	  				<p class="lead">
	  					Try adding or varying activity routes for better or different suggestions.
	  				</p>
	  				<dl class="dl-horizontal lead" id="stats-container">
  						<dt id="stats-activities">computing...</dt>
  						<dd>activities considered</dd>
  						
  						<dt id="stats-segments">computing...</dt>
  						<dd>unique road segments considered across these activities</dd>

  						<dt id="stats-candidates">computing...</dt>
  						<dd>athletes matched your speed on these segments</dd>

  						<dt id="stats-vs-friends"><span style="font-size:15px;">computing...</span></dt>
  						<dd>of your current friends are less similar to you than these buddies</dd>

  						<dt id="stats-vs-region"><span style="font-size:15px;">computing...</span></dt>
  						<dd>of regional athletes are less similar to you than these buddies</dd>
					</dl>
	  			</div>  		
	  		</div>
	  	</div>
	</div>
	<br>
{% endblock %}

{% block javascriptbottom %}
<script src="../static/js/bPopup.0.10.0.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.tooltipster.min.js"></script>
<script>
    function getTooltipHTML(rawPolyline) {
    	var size = 200;
    	var color = "167ebb" //"FF0000"
    	var opacity = "BB"
    	var baseURL = "http://maps.googleapis.com/maps/api/staticmap?size=" + 
    				   size + "x" + size + "&path=color:0x" + color + opacity +
    				   "%7Cenc:"
    	var urlEncodedPolyline = encodeURIComponent(rawPolyline);
    	

    	return "<img src='" + baseURL + rawPolyline + "' />"
    }

    $(document).ready(function($) { 
        $('#vis').hide();
        $('#post-buddy-options').hide();
        $("#n-activities").val( {{ n_activities|tojson }} ); // set dropdown to curr value
        $('.pull-down').each(function() {
    		$(this).css('margin-top', $(this).parent().height()-$(this).height())
		});


        // tooltips for polyline maps
        $('.tooltip').tooltipster(); // activate
        $('.clickableRow').map(function() {
    		var rawPolyline = $(this).attr('data-polyline')
    		
    		$(this).tooltipster({
            	content: $( getTooltipHTML(rawPolyline) ),
            	position: "right",
            	theme: 'tooltipster-noir',
            	speed: 0,
            	interactiveTolerance: 0 
        	});
        });
        
        $('.clickableRow').click(function() { 
            if ($(this).hasClass('highlight')) {
            	$(this).removeClass('highlight');
            } else {
            	$(this).addClass('highlight');
            }
        }); 
        
        $('#find-buddy-button').click(function() {
        	var from_url      = {{ from_url|tojson }}; 
        	var athlete_id    = {{ athlete_id|tojson }};
        	var activities    = { from_url:from_url, athlete_id:athlete_id };

        	$("tr.highlight").map(function() {
        		var id = parseInt( $(this).attr('id') );
        		activities[id] = id;
        	}); // get highlighted activities

        	if (Object.keys(activities).length < 4) {
        		$('#error').show();
        		$('#error').html(
        			"<div class='alert alert-danger' role='alert'>Please select at least " +
        			"<strong>2</strong> activities. This ensures better buddy suggestions.</div>"
        		);
        	} else {
    			$('#find-buddy-button').hide();
	        	$('#activity-container').hide();
	        	$('#vis').show();
	        	$('#choose-buddies-tab a').html('<strong>Buddies<strong>');

	        	$.ajax({ // get data for bulk of visualization
	        		dataType: "JSON",
	        		url: 	  "/get_buddies", 
	        		data: 	  activities,
	        		success:  function(data) { 
	        			$('#post-buddy-options').show();
			        	makeVis(data);
			        	populateSegmentStats(data, Object.keys(activities).length-2);
	        		
			        	$.ajax({ // get metrics for all regional users, takes longer hence ajax
			        		dataType: "JSON",
			        		url: 	  "/get_buddy_stats", 
			        		data: 	  { athlete_id:athlete_id, 
			        					min_buddy_similarity: data.min_buddy_similarity },
			        		success:  function(data) { 
					        	populateSimilarityStats(data);
			        		}
			        	});
	        		},
	        		error: function(xhr, status, error) {
						alert("Sorry, there was an error processing these activities.")
					}
	        	});
	        }
        });

		// popup for buddy
		var statsPopup;
		$("#stats-btn").click(function() {
			statsPopup = $('#stats-popup').bPopup({
            	opacity: 0.6,
            	positionStyle: 'fixed', // no track scroll
            	modalColor: '#167ebb' // blue bg
            });
        });
        $(".button.b-close").click(function() {
        	statsPopup.close();
        });
    });
</script>    
{% endblock %}
