{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block body %}
	{% for message in get_flashed_messages() %}
    	<div class="flash">{{ message }}</div>
  	{% endfor %}
  	<br>
  	<div class="container">
  		<br><br>
  		<div class="row">
  			<div class="col-md-1"></div>
  			<div class="col-md-8">
  				<p class="lead summary">
  					STRAVA buddies recommends activity partners to athletes based on their own 
  					activity patterns. See below to get started.
  				</p>
  				</div>
  		</div>
  		<div class="row">
		  <div class="col-md-1"></div>
		  <div class="col-md-4">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3 style="color: #f74f00">Connect</h3>
		        <p>
		        	Connect with STRAVA to receive personalized buddy recommendations</p>
		        <p>
		        	<a href="{{ auth_link }}">
						<img src="../static/imgs/ConnectWithStrava.png" alt="Authenticate at strava.com"/>
					</a>
		        </p>
		        <p></p>
		      </div>
		    </div>
		</div>
			<div class="col-md-4">
		    <div class="thumbnail">
		      <div class="caption">
		        <h3 style="color: #f74f00">Examples</h3>
		        <p>
		        	Or choose from example athletes just to explore</p>
		        	<form action="/choose_examples" method="POST">
  						<div class="form-group">
    						<label>Example athletes</label>
    						<select class="form-control" name="athlete_id">
    						{% for athlete in examples %}
    							<option value="{{ athlete["id"] }}">{{ athlete["name"] }}</option>
  							{% endfor %}
  							</select>
    					</div>
  						<button type="submit" style="background-color: #f74f00; color: white;" class="btn btn-default">Continue</button>
					</form>
		        <p>
		  	  </div>
		  	</div>
		</div>
	</div>
{% endblock %}